In [5]:
# !pip install pyarrow

In [2]:
import pandas as pd

In [38]:
df = pd.read_parquet('datamart/gold/feature_store/2016_09_04.parquet/', engine="pyarrow")
df.head()

,customer_id,order_status,product_id,seller_id,total_qty,total_price,total_freight_value,total_weight_g,total_volume_cm3,total_density
0,08c5351a6aca1c1589a38f244edeee9d,shipped,f293394c72c9b5fafd7023301fc21fc2,1554a68530182680ad5c8b042c3ab563,2,72.89,63.34,3200.0,10752.0,0.297619

In [30]:
# logistics
df = pd.read_parquet('datamart/silver/order_logistics/silver_olist_order_logistics_04_09_2016.parquet', engine="pyarrow")
df.head()

,order_id,order_purchase_timestamp,total_qty,total_price,total_freight_value,total_weight_g,total_volume_cm3,total_density,main_category,sub_category,snapshot_date
0,2e7a8482f6fb09756ca50c10d7bfc047,2016-09-04 21:15:19,2,72.89,63.34,3200.0,10752.0,0.297619,furniture,décor,2016-09-04

In [17]:
df.columns

Index(['order_id', 'order_purchase_timestamp', 'total_qty', 'total_price',
       'total_freight_value', 'total_weight_g', 'total_volume_cm3',
       'total_density', 'main_category', 'sub_category', 'snapshot_date'],
      dtype='object')

In [31]:
# order
df = pd.read_parquet('datamart/silver/orders/silver_olist_orders_04_09_2016.parquet', engine="pyarrow")
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,snapshot_date
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaT,2016-10-20,2016-09-04

In [13]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'snapshot_date'],
      dtype='object')

In [34]:
# items
df = pd.read_parquet('datamart/silver/order_items/silver_olist_order_items.parquet', engine="pyarrow")
df.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,89bed55dd88d035e3b1b2489862e53cc,1,ae6b739ab6e9d7991fb2ddd70f9c0b6b,53e4c6e0f4312d4d2107a8c9cddf45cd,2018-01-11 17:12:22,42.00,17.60
1,89c037e2b749a2ed5e9e1219189e241e,1,e906fa76a27488f805ba8584a4c10cba,1835b56ce799e6a4dc4eddc053f04066,2017-11-30 04:15:33,53.99,12.72
2,89c037e2b749a2ed5e9e1219189e241e,2,e906fa76a27488f805ba8584a4c10cba,1835b56ce799e6a4dc4eddc053f04066,2017-11-30 04:15:33,53.99,12.72
3,89c04d2250464948257c7dbd4e41c3cc,1,3d73c88390adac7dd50fffe6c00f1022,c8b0e2b0a7095e5d8219575d5e7e1181,2018-03-14 00:20:26,199.99,25.05
4,89c0bf5292a493fb2a7aacae2148eeac,1,2d40d83fc97b8d4d468b4ab5a6a0810d,cca3071e3e9bb7d12640c9fbe2301306,2017-08-24 03:26:15,29.90,11.85

In [15]:
df.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')