In [1]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Downloading pyarrow-20.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (42.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 MB 11.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('datamart/gold/feature_store/2016_09_15.parquet/', engine="pyarrow")
df.head()

,snapshot_date,order_id,order_status,total_qty,total_price,total_freight_value,total_weight_g,total_volume_cm3,total_density,seller_city,...,same_city,same_state,is_weekend,act_days_to_deliver,avg_rating,avg_delay_rate,avg_processing_time,day_of_week,season,concentration
0,2016-09-15,bfbd0f9bdef84302105ad712db648a6c,delivered,3,134.97,8.49,3000.0,12288.0,0.244141,curitiba,...,0,0,0,55,NaN,NaN,NaN,5,Winter,NaN

In [ ]:
df.columns

Index(['snapshot_date', 'order_id', 'order_status', 'total_qty', 'total_price',
       'total_freight_value', 'total_weight_g', 'total_volume_cm3',
       'total_density', 'seller_city', 'seller_state', 'delivery_distance',
       'same_city', 'same_state', 'is_weekend', 'act_days_to_deliver',
       'avg_rating', 'avg_delay_rate', 'avg_processing_time', 'day_of_week',
       'season', 'concentration'],
      dtype='object')

In [19]:
# logistics
df = pd.read_parquet('datamart/silver/order_logistics/silver_olist_order_logistics_04_09_2016.parquet', engine="pyarrow")
df.head()

,order_id,order_purchase_timestamp,total_qty,total_price,total_freight_value,total_weight_g,total_volume_cm3,total_density,main_category,sub_category,snapshot_date
0,2e7a8482f6fb09756ca50c10d7bfc047,2016-09-04 21:15:19,2,72.89,63.34,3200.0,10752.0,0.297619,furniture,décor,2016-09-04

In [17]:
df.columns

Index(['order_id', 'order_purchase_timestamp', 'total_qty', 'total_price',
       'total_freight_value', 'total_weight_g', 'total_volume_cm3',
       'total_density', 'main_category', 'sub_category', 'snapshot_date'],
      dtype='object')

In [10]:
# order
df = pd.read_parquet('datamart/silver/orders/silver_olist_orders_04_09_2016.parquet', engine="pyarrow")
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,snapshot_date
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaT,2016-10-20,2016-09-04

In [13]:
df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'snapshot_date'],
      dtype='object')

In [18]:
# items
df = pd.read_parquet('datamart/silver/order_items/silver_olist_order_items.parquet', engine="pyarrow")
df.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,89bed55dd88d035e3b1b2489862e53cc,1,ae6b739ab6e9d7991fb2ddd70f9c0b6b,53e4c6e0f4312d4d2107a8c9cddf45cd,2018-01-11 17:12:22,42.00,17.60
1,89c037e2b749a2ed5e9e1219189e241e,1,e906fa76a27488f805ba8584a4c10cba,1835b56ce799e6a4dc4eddc053f04066,2017-11-30 04:15:33,53.99,12.72
2,89c037e2b749a2ed5e9e1219189e241e,2,e906fa76a27488f805ba8584a4c10cba,1835b56ce799e6a4dc4eddc053f04066,2017-11-30 04:15:33,53.99,12.72
3,89c04d2250464948257c7dbd4e41c3cc,1,3d73c88390adac7dd50fffe6c00f1022,c8b0e2b0a7095e5d8219575d5e7e1181,2018-03-14 00:20:26,199.99,25.05
4,89c0bf5292a493fb2a7aacae2148eeac,1,2d40d83fc97b8d4d468b4ab5a6a0810d,cca3071e3e9bb7d12640c9fbe2301306,2017-08-24 03:26:15,29.90,11.85

In [15]:
df.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [8]:
# shipping_info
df = pd.read_parquet('datamart/silver/shipping_infos/silver_shipping_infos_04_09_2016.parquet', engine="pyarrow")
df.head(5)

,order_id,order_purchase_timestamp,customer_zip_code_prefix,customer_city,customer_state,customer_lat,customer_lng,seller_zip_code_prefix,seller_city,seller_state,seller_lat,seller_lng,delivery_distance,same_zipcode,same_city,same_state,snapshot_date
0,2e7a8482f6fb09756ca50c10d7bfc047,2016-09-04 21:15:19,69309,boa vista,RR,2.813746,-60.701007,37580,monte siao,MG,-22.430218,-46.573405,3198.843108,0,0,0,2016-09-04

In [7]:
df.columns

Index(['order_id', 'order_purchase_timestamp', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'customer_lat', 'customer_lng',
       'seller_zip_code_prefix', 'seller_city', 'seller_state', 'seller_lat',
       'seller_lng', 'delivery_distance', 'same_zipcode', 'same_city',
       'same_state', 'snapshot_date'],
      dtype='object')

In [3]:
# seller_performance
df = pd.read_parquet('datamart/silver/seller_performance/silver_seller_performance_04_09_2016.parquet', engine="pyarrow")
df.head(5)

,snapshot_date,seller_id,avg_rating,avg_delay_rate,avg_processing_time
0,2016-09-04,1554a68530182680ad5c8b042c3ab563,1.0,NaN,NaN

In [4]:
# concentration
df = pd.read_parquet('datamart/silver/concentration/silver_concentration_04_09_2016.parquet', engine="pyarrow")
df.head(5)

  snapshot_date granularity_level      type      region  concentration
0    2016-09-04              city  customer   boa vista          100.0
1    2016-09-04             state  customer          RR          100.0
2    2016-09-04              city    seller  monte siao          100.0
3    2016-09-04             state    seller          MG          100.0